.rmdp-container .rmdp-arrow {
  border-color: black;
  height: 10px;
  width: 10px;
  border-width: 0 3px 3px 0;
}

.rmdp-container .rmdp-arrow-container:hover {
  background-color: black;
}

.rmdp-container .rmdp-header-values {
  font-weight: 900;
  font-family: 'Helvetica Now Display', sans-serif;
}

.rmdp-container .rmdp-week-day {
  color: #aeaeb2;
  font-weight: 900;
}

.rmdp-container .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: black;
  box-shadow: none;
}

.rmdp-container .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #636366;
}

.rmdp-container .rmdp-day.rmdp-today span {
  background-color: #aeaeb2;
}

.rmdp-container .rmdp-day span {
  border-radius: 8px;
  font-weight: 900;
}

.rmdp-calendar .rmdp-arrow {
  border-color: black;
  height: 10px;
  width: 10px;
  border-width: 0 3px 3px 0;
}

.rmdp-calendar .rmdp-arrow-container:hover {
  background-color: black;
}

.rmdp-calendar .rmdp-header-values {
  font-weight: 900;
  font-family: 'Helvetica Now Display', sans-serif;
}

.rmdp-calendar .rmdp-week-day {
  color: #aeaeb2;
  font-weight: 900;
}

.rmdp-calendar .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: black;
  box-shadow: none;
}

.rmdp-calendar .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #636366;
}

.rmdp-calendar .rmdp-day.rmdp-today span {
  background-color: #aeaeb2;
}

.rmdp-calendar .rmdp-day span {
  border-radius: 8px;
  font-weight: 900;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}

.customDatePickerWidth {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.customDatePickerWidth > div {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
.customDatePickerWidth > div > div {
  width: 100%;
  height: 100%;
}

.customDatePickerWidth .rmdp-container {
  height: 100%;
}
.rmdp-calendar,
.rmdp-week,
.rmdp-header,
.rmdp-week-day,
.rmdp-day-picker,
.rmdp-day-picker > div {
  width: 100%;
  height: 100%;
}

.customDatePickerWidth {
  padding: 0;
  font-size: 180px;
  .rmdp-header > div {
    width: 100%;
    height: 100%;
  }
  .rmdp-calendar > div {
    height: 80px;
  }

  .rmdp-wrapper.rmdp-shadow {
    box-shadow: none;
  }

  .rmdp-container .rmdp-arrow {
    border-color: black;
    height: 10px;
    width: 10px;
    border-width: 0 3px 3px 0;
  }

  .rmdp-container .rmdp-arrow-container:hover {
    background-color: black;
  }

  .rmdp-container .rmdp-header-values {
    font-weight: 900;
    font-family: 'Helvetica Now Display', sans-serif;
  }

  .rmdp-container .rmdp-week-day {
    color: #aeaeb2;
    font-weight: 900;
  }

  .rmdp-container .rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: black;
    box-shadow: none;
  }

  .rmdp-container
    .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden)
    span:hover {
    background-color: #636366;
  }

  .rmdp-container .rmdp-day.rmdp-today span {
    background-color: #aeaeb2;
  }

  .rmdp-container .rmdp-day span {
    border-radius: 8px;
    font-weight: 900;
  }

  .rmdp-calendar .rmdp-arrow {
    border-color: black;
    height: 10px;
    width: 10px;
    border-width: 0 3px 3px 0;
  }

  .rmdp-calendar .rmdp-arrow-container:hover {
    background-color: black;
  }

  .rmdp-calendar .rmdp-header-values {
    font-weight: 900;
    font-family: 'Helvetica Now Display', sans-serif;
  }

  .rmdp-calendar .rmdp-week-day {
    color: #aeaeb2;
    font-weight: 900;
  }

  .rmdp-calendar .rmdp-day.rmdp-selected span:not(.highlight) {
    background-color: black;
    box-shadow: none;
  }

  .rmdp-calendar
    .rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden)
    span:hover {
    background-color: #636366;
  }

  .rmdp-calendar .rmdp-day.rmdp-today span {
    background-color: #aeaeb2;
  }

  .rmdp-calendar .rmdp-day span {
    border-radius: 8px;
    font-weight: 900;
  }
}

.scheduled-dates {
  border: 2px solid black;
}
